<p>

</p>
<div class="container">
  <div class="card">
    <div class="card-header">Contact</div>
    <div class="card-body">
      <div>
        <h3>Infos:</h3>
        <ul class="list-group">
          <li class="list-group-item">LastName: <strong>{{info.lastName}}</strong></li>
          <li class="list-group-item">FirstName: <strong>{{info.firstName}}</strong></li>
          <li class="list-group-item">Email: <strong>{{info.email}}</strong></li>
          <li class="list-group-item">Tel: <strong>{{info.tel}}</strong></li>
          <li class="list-group-item">Company: <strong>{{info.company}}</strong></li>
        </ul>
      </div>
    </div>
  </div>

</div>
